name: fastapi-videojuegos

services:
  fastapi-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastapi-app-videojuegos
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - fastapi-db-mysql
  fastapi-db-mysql:
    image: mysql
    container_name: fastapi-db-videojuegos
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
